@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-mode="dark"] {
  @apply bg-slate-800 text-white;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  /* 'wght' 400, */
  'GRAD' 0,
  'opsz' 48
}
